.product-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 89rem;
}

.product-details button {
  display: flex;
  align-items: flex-start;
}

.product-details .product-container {
  display: flex;
  flex-wrap: row wrap;
  border-radius: 0.5rem;
  background-color: white;
  padding: 2rem;
}

.product-details .product-container h1 {
  font-size: 1.5rem;
}

.product-details .product-left {
  flex: 3;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
}

.product-details .product-left .product-model-sku span {
  margin-right: 0.5rem;
}

.product-details .product-left .product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 20rem;
  width: 100%;
}

.product-details .product-left .active-image {
  height: 75%;
  width: 100%;
  padding: 0.5rem;
  position: relative;
}

.product-details .product-left .active-image img {
  max-height: 100%;
  max-width: 100%;
}

.product-details .product-left .image-tiles {
  height: 25%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.product-details .product-left .image-tiles .image-tile {
  height: 100%;
  width: 5rem;
  margin: 0 0.5rem;
  padding: 0.2rem;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
}

.product-details
  .product-left
  .image-tiles
  .image-tile[data-is-selected='true'] {
  border: 2px solid black;
}

.product-details .product-left .image-tiles .image-tile img {
  max-width: 100%;
  max-height: 100%;
}

.product-details .product-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 2;
  min-width: 10rem;
  box-sizing: border-box;
}

.product-details .product-right .product-price {
  font-size: 1.5rem;
  height: 50%;
}

.product-details .product-right .product-price .sale-price {
  margin-right: 0.5rem;
  color: red;
}

.product-details .product-right .product-description {
  margin-top: auto;
  align-self: flex-start;
}

.product-details .product-right .product-description .read-more button {
  color: #007bff;
  cursor: pointer;
  margin-left: auto;
}
